<script src="<%=manifest("js/user.js")%>"></script>
<script src="<%=manifest("js/comment.js")%>"></script>
<% if(locals.user) { %>
<script>
  var socket = io("http://localhost:3000");
  var email = "<%=locals.user.email%>";
  socket.on("connection_done", function (args) {
    socket.emit("join", { email: email });
  });
  socket.on("friendRequest", function (args, callback) {
    console.log(args.message);
    socket.emit("requestShown", { friendId: args.friendId });
  });
</script>
<%}%>
<div>
  <div>
    <% if(locals.user) { %>
    <h2>Create Post</h2>
    <form id="post_form" action="/user/create-post" method="post">
      <textarea name="post_content" cols="40" rows="10"></textarea>
      <button type="submit">Add Post</button>
    </form>
    <% for(let post of locals.posts) { %> <%- include('_post.ejs', { post: post
    }) %> <% } %> <% } %> <% if(locals.user) { %><%- include('_friends', {
    users: users }) %> <% }%>
  </div>
</div>
